.matrix-container {
    display: inline-block;
    /* border: 1px solid #ccc; */
    padding: 10px;
  }
  
  .matrix-row {
    display: flex;
  }
  
  .matrix-input {
    width: 40px;
    height: 40px;
    margin: 2px;
    text-align: center;
  }
  